@keyframes modeButtonChange {
    to {
        border-color: #eda3fa;
        background-color: #eda3fa20;
    }
}

@keyframes navbarItemHover {
    0% {
        padding-top: 3px;
        border-bottom: 3px solid #151515;
        background-color: #151515;
    }
    25% {
        border-bottom: 3px solid #eda3fa50;
        background-color: linear-gradient(90deg, #eda3faaa 15%, #151515 16% );
    }
    50% {
        border-bottom: 3px solid #eda3fa8D;
        background-color: linear-gradient(90deg, #eda3faaa 30%, #131515 51% );
    }
    75% {
        border-bottom: 3px solid #eda3faCC;
        background-color: linear-gradient(90deg, #eda3faaa 55%, #151515 56% );
    }
    100% {
        padding-top: 3px;
        border-bottom: 3px solid #eda3fa;
        background-color: #eda3fa20;
    }
}

@keyframes headerLogoAnchorHover {
    to {
        border-right: 3px solid #eda3fa;
        background-color: #eda3fa20;
    }
}

@font-face {
    font-family: ShareTechMono;
    src: url(../ShareTechMono-Regular.ttf);
}

* {
    font-family: ShareTechMono;
    margin: 0px;
    padding: 0px;
    line-height: 2rem;
    color: #ffffff;
    box-sizing: border-box;
}

body {
    background-color: #191919;
    overflow-x: hidden;
}

.header {
    z-index: 9;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background-color: #151515;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px #151515;
}

.header-logo-box {
    width: 200px;
    display: flex;
    align-items: center;
}

.header-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-group {
    display: flex;
    align-items: center;
}

header ul {
    position: relative;
    display: flex;
    gap: 30px; 
    padding: 10px 30px;
}

header ul li {
    list-style: none;
}

header ul li a {
    position: relative;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.13em;
}

header ul li a::before {
    content: '';
    position: absolute;
    left: -1px;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #eda3fa;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

header ul li a:hover::before {
    transform: scaleX(1);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
}

.theme-toggle {
    position: relative;
    font-size: 1.3em;
    cursor: pointer;
    transform: translateX(-20px);
}

.menu-toggle {
    position: relative;
    display: none;
}

.header-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 200px;
    text-align: center;
}

.header-dark-mode-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #151515;
    font-size: 17px;
    border: 2px solid #eda3fa30;
    border-radius: 2rem;
    height: 35px;
    width: 150px;
    cursor: pointer;
}

.header-dark-mode-button:hover {
    animation: modeButtonChange 2s forwards;
}

.main {
    position: relative;
    top: 80px;
    height: 1000px;
    width: 100%;
    background: #eda3fa30;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: xx-large;
    width: 100%;
    height: 100%;
}

.title:hover {
    padding: 10px;
    border-bottom: 3px inset #eda3fa;
    border-right: 3px inset #eda3fa;
    border-bottom-right-radius: 0.70rem;
}

.waves {
    position: relative;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }

.footer {
    position: relative;
    bottom: 0px;
    left: 0px;
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #151515;
}

.footer-left-part {
    align-items: center;
    width: 100%;
    height: 100%;
}

.footer-medias-list {
    height: 60%;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.footer-medias-list li {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-media-list-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-rights {
    height: 40%;
    font-size: smaller;
    text-align: center;
}

.footer-right-part {
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    padding: 0px 45px;
}

.ribbon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    /** Main Body Waves **/
    .waves {
      height: 40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }

    /** Dark Mode Button **/
    .header-dark-mode-button{
        font-size: 0;
        width: 35px
    }
    .header-dark-mode-button::before {
        content: "🌙";
        font-size: initial;
    }

    .theme-toggle {
        transform: translateX(-50px);
    }

    .menu-toggle {
        position: absolute;
        display: block;
        font-size: 2.15em;
        cursor: pointer;
        z-index: 10;
        transform: translateX(-20px);
    }

    header .header-navigation {
        position: absolute;
        display: block;
        visibility: hidden;
        left: 100%;
    }

    header.open .header-navigation {
        top: 80px;
        opacity: 1;
        visibility: visible;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #151515;
        width: 100%;
        height: calc(70vh - 80px);
        padding: 40px;
        border-top: 1px solid #eda3fa30;
        z-index: 10;
    }

    header.open .header-navigation li a {
        font-size: 1.25em;
    }
  }