@keyframes modeButtonChange {
    to {
        border-color: #eda3fa;
        background-color: #eda3fa20;
    }
}

@keyframes navbarItemHover {
    0% {
      border-bottom: 3px solid #151515;
      background-color: #151515;
    }
    25% {
        border-bottom: 3px solid #eda3fa50;
        background-color: linear-gradient(90deg, #eda3fa20 15%, #151515 16% );
    }
    50% {
        border-bottom: 3px solid #eda3fa8D;
        background-color: linear-gradient(90deg, #eda3fa20 30%, #131515 51% );
    }
    75% {
        border-bottom: 3px solid #eda3faCC;
        background-color: linear-gradient(90deg, #eda3fa20 55%, #151515 56% );
    }
    100% {
        border-bottom: 3px solid #eda3fa;
        background-color: #eda3fa20;
    }
}

@keyframes headerLogoAnchorHover {
    to {
        border-right: 3px solid #eda3fa;
        background-color: #eda3fa20;
    }
}

@font-face {
    font-family: ShareTechMono;
    src: url(../ShareTechMono-Regular.ttf);
}

* {
    font-family: ShareTechMono;
    margin: 0px;
    padding: 0px;
    line-height: 2rem;
    color: #ffffff;
}

body {
    background-color: #191919;
    height: 100%;
}

main {
    position: relative;
    text-align: justify;
    font-size: x-large;
    height: 1000px;
}

.header {
    display: flex;
    background-color: #151515;
    border-bottom: 2px solid #eda3fa30;
    height: 70px;
}

.header-logo-box {
    width: 200px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.header-logo-anchor {
    border-right: 3px solid;
    border-radius: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-logo-anchor:hover {
    animation: headerLogoAnchorHover 1s forwards;
}

.header-logo {
    padding-right: 50px;
    padding-left: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-navbar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar-list {
    height: 100%;
    width: 100%;
    font-size: x-large;
    position: absolute;
    display: flex;
    list-style: none;
}

.navbar-list-container {
    height: auto;
    float: left;
    text-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar-list-item {
    text-decoration: none;
    display: block;
    padding: 0 10px;
    margin: 18px 0;
    margin-left: 90px;
}

.navbar-list-item:hover {
    border-bottom: 3px solid;
    border-radius: 2px;
    animation: navbarItemHover 5s forwards;
}

.header-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 200px;
    text-align: center;
}

.header-dark-mode-button {
    background-color: #151515;
    font-size: 17px;
    border: 2px solid #eda3fa30;
    border-radius: 2rem;
    height: 50%;
    width: 150px;
    cursor: pointer;
}

.header-dark-mode-button:hover {
    animation: modeButtonChange 2s forwards;
}

.main {
    position:relative;
    background: 
    linear-gradient(160deg, #eda3fa00 0%, #eda3fa70 50%, #eda3fa 100%);
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: xx-large;
    width: 100%;
    height: 100%;
}

.title:hover {
    padding: 10px;
    border-bottom: 3px inset #eda3fa;
    border-right: 3px inset #eda3fa;
    border-bottom-right-radius: 0.70rem;
}

.waves {
    position:absolute;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }

.footer {
    display: flex;
    height: 100px;
    width: 100%;
    border-top: 2px solid #eda3fa30;
    background-color: #151515;
}

.footer-left-part {
    align-items: center;
    width: 100%;
    height: 100%;
}

.footer-medias-list {
    height: 60%;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.footer-medias-list li {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-media-list-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-rights {
    height: 40%;
    font-size: smaller;
    text-align: center;
}

.footer-right-part {
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    padding: 0px 45px;
}

.ribbon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}