@keyframes modeButtonChange {
    to {
        border-color: #eda3fa;
    }
}

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
    line-height: 2rem;
}

body {
    background-color: #efefef;
    height: auto;
}

main {
    padding: 35px;
    text-align: justify;
    font-size: x-large;
}

.header-container {
    padding-top: 15px;
    text-align: center;
}

.header-dark-mode-button {
    background-color: #e0e0e0;
    font-size: 17px;
    border: 2px solid #eda3fa30;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    cursor: pointer;
}

.header-dark-mode-button:hover {
    animation: modeButtonChange 2s forwards;
}

.footer {
    position: relative;
    bottom: 0px;
    height: 100px;
    width: 100%;
    border-top: 2px solid #eda3fa30;
    background-color: #e0e0e0;
    padding-bottom: 15px;
    padding-top: 10px;
}

.footer-left-part {
    float: left;
    width: 69%;
}

.footer-media-list-item {
    padding: 7px;
}

.footer-medias-list {
    padding-top: 15px;
    padding-bottom: 5px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.footer-rights {
    font-size: 19px;
    text-align: center;
}

.footer-right-part {
    float: right;
    width: 25%;
    height: 100%;
    text-align: center;
}