@font-face {
    font-family: basicFont;
    src: url(/fonts/Sansation_Light.ttf);
}

@font-face {
    font-family: pageTopFont;
    src: url(/fonts/D3Euronism_b.ttf);
}

@keyframes borderChange {
    to {
        border-right-color: #be7be6;
        border-bottom-color: #be7be6;
        color: #be7be6;
    }
}

* {
  font-family: basicFont;
  margin: 0;
  padding: 0;
}

body {
    font-size: .875rem;
    line-height: 1.35;
    height: 3000px;
    width: auto;
    margin: 0px;
    color: #ffffff;
    background-color: #161624;
}

.xgr-pagetop {
    position: relative;
    display: flex;
    height: 65px;
    width: 100ù;
    border: 2px solid green;
}

.xgr-nav {
    position: relative;
    display: flex;
    width: 70%;
    border: 2px solid #be7be6;
}